@inherits BoardSquareBase

    <div class="board-square" @onmousedown="OpenSquare" oncontextmenu="return false">
        @if (Square.IsOpen)
        {
            <text>@Convert.ToInt32(Square.Value)</text>
        }

        @if (Square.IsFlag)
        {
            <text>F</text>
        }
    </div>