@inherits GameBoardBase

    <div class="game-board">
        @for (var i = 0; i < Size; i++)
        {
        <div class="board-row">
            @for (var j = 0; j < Size; j++)
            {
                <BoardSquare Value="0" Id="i*Size + j" OnClick="OnGameSquareClick"></BoardSquare>
            }
        </div>
        }
    </div>