@inherits GameBoardBase

    <div class="game-board">
        @for (var i = 0; i < Board.Size; i++)
        {
        <div class="board-row">
            @for (var j = 0; j < Board.Size; j++)
            {
                <BoardSquare Square="Board[i,j]" />
            }
        </div>
        }
    </div>